almath @ ./winDependencies/almath-1.6.8-cp27-none-win_amd64.whl
backports.functools-lru-cache @ ./winDependencies/backports.functools_lru_cache-1.6.1-py2.py3-none-any.whl
beautifulsoup4 @ ./winDependencies/beautifulsoup4-4.9.3-py2-none-any.whl
certifi @ ./winDependencies/certifi-2020.6.20-py2.py3-none-any.whl
chardet @ ./winDependencies/chardet-4.0.0-py2.py3-none-any.whl
click @ ./winDependencies/click-7.1.2-py2.py3-none-any.whl
enum34 @ ./winDependencies/enum34-1.1.10-py2-none-any.whl
gTTS @ ./winDependencies/gTTS-2.1.0-py2-none-any.whl
gTTS-token @ ./winDependencies/gTTS-token-1.1.4.tar.gz
idna @ ./winDependencies/idna-2.9-py2.py3-none-any.whl
numpy @ ./winDependencies/numpy-1.15.3-cp27-none-win_amd64.whl
pandas @ ./winDependencies/pandas-0.23.3-cp27-cp27m-win_amd64.whl
pathlib @ ./winDependencies/pathlib-1.0.1.tar.gz
python-dateutil @ ./winDependencies/python_dateutil-2.8.1-py2.py3-none-any.whl
pytz @ ./winDependencies/pytz-2019.3-py2.py3-none-any.whl
pyzbar @ ./winDependencies/pyzbar-0.1.7-py2.py3-none-win_amd64.whl
qi @ ./winDependencies/qi-1.8.3-cp27-none-win_amd64.whl
requests @ ./winDependencies/requests-2.25.1-py2.py3-none-any.whl
six @ ./winDependencies/six-1.15.0-py2.py3-none-any.whl
soupsieve @ ./winDependencies/soupsieve-1.9.6-py2.py3-none-any.whl
urllib3 @ ./winDependencies/urllib3-1.26.3-py2.py3-none-any.whl
